#glpi-db.container

[Unit]
Description=GLPI Database

[Container]
Image=docker.io/library/mariadb:11.8.8@sha256:be1ef4fe5f14589325c08a41c76334097ce66c86264b75e1d28342c742782a61
ContainerName=glpi-db
Pod=glpi.pod
Volume=/home/glpi/.data/glpi/glpi-db-backups:/var/db-backups:Z
Volume=/home/glpi/.data/glpi/glpi-db:/var/lib/mysql:Z
EnvironmentFile=/srv/CherryTech-App-Configs/podman/8005_glpi/.env
Secret=glpi-db-password,type=env,target=MARIADB_PASSWORD
Secret=glpi-db-root-password,type=env,target=MARIADB_ROOT_PASSWORD
HealthCmd=/bin/bash -c 'healthcheck.sh --connect --innodb_initialized'
HealthStartPeriod=60s
HealthInterval=60s
HealthTimeout=10s
HealthRetries=15
Notify=healthy
Memory=2g
NoNewPrivileges=true

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
