#IMMICH .env

DOMAIN=immich.apps.example.com

IMMICH_TRUSTED_PROXIES=127.0.0.1/32
TZ=America/Detroit

POSTGRES_DB=immich
POSTGRES_USER=immich
POSTGRES_INITDB_ARGS=--data-checksum

DB_USERNAME=immich
DB_PORT=5432
DB_HOSTNAME=immich-db
DB_DATABASE_NAME=immich

REDIS_PORT=6379
REDIS_HOSTNAME=immich-redis
