#immich-machine-learning.container

[Container]
Image=ghcr.io/immich-app/immich-machine-learning:release
ContainerName=immich-machine-learning
Pod=immich.pod
Volume=/home/immich/.data/immich/immich-model-cache:/cache
EnvironmentFile=/srv/CherryTech-App-Configs/podman/8006_immich/.env
HealthCmd=/bin/bash -c 'exec 5<>/dev/tcp/127.0.0.1/3003'
HealthStartPeriod=30s
HealthInterval=120s
HealthTimeout=15s
HealthRetries=10
Notify=healthy
AutoUpdate=registry
Memory=2g
NoNewPrivileges=true

[Service]
Restart=always

[Install]
WantedBy=default.target
