#immch-app.container

[Unit]
Description=Immich App
Requires=immich-redis.service immich-db.service
After=immich-redis.service immich-db.service

[Container]
Image=ghcr.io/immich-app/immich-server:v3
ContainerName=immich-app
Pod=immich.pod
EnvironmentFile=/srv/CherryTech-App-Configs/podman/8006_immich/.env
Secret=immich-db-password,type=env,target=DB_PASSWORD
Volume=/etc/localtime:/etc/localtime:ro
Volume=/home/immich/.data/immich/immich-uploads:/data:Z
HealthCmd=/bin/bash immich-healthcheck
HealthStartPeriod=3m
HealthInterval=120s
HealthTimeout=30s
HealthRetries=10
Notify=healthy
AutoUpdate=registry
Memory=3g
NoNewPrivileges=true

[Service]
Restart=always
TimeoutStartSec=900
ExecStartPre=sleep 30

[Install]
WantedBy=default.target
