#immich-redis.container

[Unit]
Description=Immich Redis

[Container]
Image=docker.io/valkey/valkey:9.1-alpine
ContainerName=immich-redis
Pod=immich.pod
Volume=/home/immich/.data/immich/immich-valkey:/data:Z
EnvironmentFile=/srv/CherryTech-App-Configs/podman/8006_immich/.env
HealthCmd=valkey-cli ping
HealthStartPeriod=30s
HealthInterval=120s
HealthTimeout=15s
HealthRetries=10
Notify=healthy
AutoUpdate=registry
Memory=1g
NoNewPrivileges=true

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
