#immich-machine-learning.container

[Container]
Image=ghcr.io/immich-app/immich-machine-learning:release
ContainerName=immich-machine-learning
Pod=immich.pod
Volume=/home/immich/.data/immich/immich-model-cache:/cache:Z
EnvironmentFile=/srv/CherryTech-App-Configs/podman/8006_immich/.env
AutoUpdate=registry
Memory=2g
NoNewPrivileges=true

[Service]
Restart=always

[Install]
WantedBy=default.target
