DOMAIN=immich.apps.example.com

ALLOWED_PROXIES=127.0.0.1/32
TZ=America/Detroit

IMMICH_DB_MEM_LIMIT=1g
IMMICH_DB_CPU_LIMIT=1.0

IMMICH_REDIS_MEM_LIMIT=512M
IMMICH_REDIS_CPU_LIMIT=0.5

IMMICH_APP_MEM_LIMIT=2G
IMMICH_APP_CPU_LIMIT=2.0
