#ERPNEXT

TZ=America/Detroit

ERPNEXT_DB_MEM_LIMIT=4g
ERPNEXT_DB_CPU_LIMIT=2.0

ERPNEXT_BACKEND_MEM_LIMIT=2g
ERPNEXT_BACKEND_CPU_LIMIT=2.0

ERPNEXT_FRONTEND_MEM_LIMIT=1g
ERPNEXT_FRONTEND_CPU_LIMIT=1.0

ERPNEXT_QUEUE_SHORT_MEM_LIMIT=1g
ERPNEXT_QUEUE_SHORT_CPU_LIMIT=1.0

ERPNEXT_QUEUE_LONG_MEM_LIMIT=2g
ERPNEXT_QUEUE_LONG_CPU_LIMIT=1.5

ERPNEXT_VALKEY_QUEUE_MEM_LIMIT=1g
ERPNEXT_VALKEY_QUEUE_CPU_LIMIT=.75

ERPNEXT_VALKEY_CACHE_MEM_LIMIT=512m
ERPNEXT_VALKEY_CACHE_CPU_LIMIT=0.50
