#NEXTCLOUD

DOMAIN=cloud.apps.example.com

TZ=America/Detroit
TRUSTED_PROXIES=127.0.0.1/32

POSTGRES_DB: nextcloud
POSTGRES_USER: nextcloud
POSTGRES_PASSWORD_FILE: /run/secrets/nextcloud_db_password
PGDATA: /var/lib/postgresql/data/pgdata
