DOMAIN=EXAMPLE.apps.example.com

ALLOWED_PROXIES=127.0.0.1/32
TZ=America/Detroit

#MARIADB:
EXAMPLE_DB_MEM_LIMIT=1g
EXAMPLE_DB_CPU_LIMIT=1.0

#POSTGRES:
EXAMPLE_DB_MEM_LIMIT=1g
EXAMPLE_DB_CPU_LIMIT=1.0

EXAMPLE_REDIS_MEM_LIMIT=512M
EXAMPLE_REDIS_CPU_LIMIT=0.5

EXAMPLE_APP_MEM_LIMIT=2G
EXAMPLE_APP_CPU_LIMIT=2.0
