#VAULTWARDEN

DOMAIN=vault.apps.example.net
TZ=America/Detroit

VAULTWARDEN_SIGN-UPS_ALLOWED=false

VAULTWARDEN_CPU_LIMIT=1.0
VAULTWARDEN_MEM_LIMIT=512m

VAULTWARDEN_SMTP_HOST={{mail server hostname}}
VAULTWARDEN_SMTP_FROM=vaultwarden@{{YOUR DOMAIN}}
VAULTWARDEN_SMTP_PORT=587
VAULTWARDEN_SMTP_SECURITY=starttls
VAULTWARDEN_SMTP_USERNAME=vaultwarden@{{YOUR DOMAIN}}
