#VAULTWARDEN .env

DOMAIN=https://vault.apps.example.net
TZ=America/Detroit

ADMIN_TOKEN=CHANGE-ME

VAULTWARDEN_SIGNUPS_ALLOWED=false

DATABASE_URL=postgresql://vaultwarden:${POSTGRES_PASSWORD}@vaultwarden-db:5432/vaultwarden

POSTGRES_USER=vaultwarden
POSTGRES_DB=vaultwarden
POSTGRES_PASSWORD=

APP_MEM=1g
APP_CPU=150%

DB_MEM=512m
DB_CPU=100%
