# vaultwarden.container

[Unit]
Description=Vaultwarden Container
Requires=vaultwarden-db.service
After=vaultwarden-db.service

[Container]
Image=docker.io/vaultwarden/server:latest
ContainerName=vaultwarden-app
Pod=vaultwarden.pod
Volume=/home/vaultwarden/.data/vaultwarden/vaultwarden-app:/data:Z
EnvironmentFile=/srv/CherryTech-App-Configs/podman/8001_vaultwarden/.env
AutoUpdate=registry
Group=0
User=0
HealthCmd=/healthcheck.sh
HealthInterval=120s
HealthTimeout=45s
HealthRetries=10
HealthStartPeriod=40s
MemoryMax=${APP_MEM}
CPUQuota=${APP_CPU}

[Service]
Restart=always

[Install]
WantedBy=default.target
