# vaultwarden.container

[Unit]
Description=Vaultwarden Container
Requires=vaultwarden-db.service
After=vaultwarden-db.service

[Container]
Image=docker.io/vaultwarden/server:latest
ContainerName=vaultwarden-app
Pod=vaultwarden.pod
Volume=/home/vaultwarden/.data/vaultwarden/vaultwarden-app:/data:Z
EnvironmentFile=/srv/CherryTech-App-Configs/podman/8001_vaultwarden/.env
AutoUpdate=registry
Group=0
User=0

#Health Check
HealthCmd=/usr/bin/wget --spider -q http://127.0.0.1/alive || exit 1
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3
HealthStartPeriod=40s

#Resource Limits
Memory=${APP_MEM}
CPUQuota=${APP_CPU}
PidsLimit=256

[Service]
Restart=always

[Install]
WantedBy=default.target
