# vaultwarden-db.container

[Unit]
Description=Vaultwarden Database

[Container]
Image=docker.io/library/postgres:17-alpine
ContainerName=vaultwarden-db
Pod=vaultwarden.pod
Volume=/home/vaultwarden/.data/vaultwarden/vaultwarden-db:/var/lib/postgresql/data:Z
EnvironmentFile=/srv/CherryTech-App-Configs/podman/8001_vaultwarden/.env
AutoUpdate=registry

#Health Check
HealthCmd=pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}
HealthInterval=30s
HealthTimeout=5s
HealthRetries=5
HealthStartPeriod=20s

#Resource Limits
Memory=${DB_MEM}
CPUQuota=${DB_CPU}
PidsLimit=256

[Service]
Restart=always

[Install]
WantedBy=default.target
