#INVOICE-NINJA

#CHANGE PERMISSIONS OF THIS FILE

DOMAIN=https://invoice.apps.example.com
TZ=America/Detroit
TRUSTED_PROXIES=127.0.0.1:8004

USE_GOOGLE_MAPS=true
REMEMBER_ME_ENABLED=true
SESSION_EXPIRE_ON_CLOSE=true
AUTO_LOGOUT_SECONDS=28800

DEBUG_MODE=false

INVOICENINJA_DB_MEMORY_LIMIT=1g
INVOICENINJA_DB_CPU_LIMIT=1.0

INVOICENINJA_MEMORY_LIMIT=1g
INVOICENINJA_VALKEY_CPU_LIMIT=0.75

INVOICENINJA_APP_MEMORY_LIMIT=2g
INVOICENINJA_APP_CPU_LIMIT=2.0

INVOICENINJA_ADMIN_EMAIL='admin@admin.com'
INVOICENINJA_ADMIN_PASSWORD=

INVOICENINJA_APP_KEY=
INVOICENINJA_DB_PASSWORD=
INVOICENINJA_VALKEY_PASSWORD=

#CHANGE PERMISSIONS OF THIS FILE
