#INVOICE-NINJA

DOMAIN=invoice.apps.example.com
TZ=America/Detroit

INVOICENINJA_DB_MEMORY_LIMIT=1g
INVOICENINJA_DB_CPU_LIMIT=1.0

INVOICENINJA_MEMORY_LIMIT=1g
INVOICENINJA_VALKEY_CPU_LIMIT=0.75

INVOICENINJA_APP_MEMORY_LIMIT=2g
INVOICENINJA_APP_CPU_LIMIT=2.0
