#INVOICE-NINJA .env

APP_URL=https://invoice.apps.example.com
TZ=America/Detroit
TRUSTED_PROXIES=*

GOOGLE_MAPS_ENABLED=true
REMEMBER_ME_ENABLED=true
SESSION_EXPIRE_ON_CLOSE=true
AUTO_LOGOUT_SECONDS=10800
APP_ENV=production
APP_DEBUG=false

DEBUG_MODE=false

IN_ADMIN_EMAIL='admin@admin.com'

DB_HOST=invoiceninja-db
DB_PORT=3306
DB_DATABASE=invoiceninja
DB_USERNAME=invoiceninja

REDIS_HOST=invoiceninja-redis
REDIS_PORT=6379

MYSQL_DATABASE=invoiceninja
MYSQL_USER=invoiceninja

CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

IS_DOCKER=true
REQUIRE_HTTPS=true
PDF_GENERATOR=snappdf
PHANTOMJS_PDF_GENERATOR=false
