#invoice-ninja-nginx.container

[Unit]
Requires=invoice-ninja-app.service
After=invoice-ninja-app.service

[Container]
Image=docker.io/nginx:alpine
ContainerName=invoice-ninja-nginx
Pod=invoice-ninja.pod
EnvironmentFile=/srv/CherryTech-App-Configs/podman/8004_invoice-ninja/.env
Volume=/home/invoice-ninja/.data/invoice-ninja/invoiceninja-public:/var/www/html/public:z,ro
Volume=/home/invoice-ninja/.data/invoice-ninja/invoiceninja-storage:/var/www/html/storage:z,ro
Volume=/home/invoice-ninja/.data/invoice-ninja/nginx:/etc/nginx/conf.d:ro,Z
HealthCmd=curl -fsS http://127.0.0.1/ >/dev/null || exit 1
HealthStartPeriod=30s
HealthInterval=120s
HealthTimeout=15s
HealthRetries=10
Notify=healthy
AutoUpdate=registry
Memory=2g

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
