#invoice-ninja-app.container

[Unit]
Requires=invoice-ninja-redis.service invoice-ninja-db.service
After=invoice-ninja-redis.service invoice-ninja-db.service

[Container]
Image=docker.io/invoiceninja/invoiceninja-debian:5
ContainerName=invoice-ninja-app
Pod=invoice-ninja.pod
EnvironmentFile=/srv/CherryTech-App-Configs/podman/8004_invoice-ninja/.env
Secret=invoice-ninja-db-password,type=env,target=DB_PASSWORD
Secret=invoice-ninja-admin-password,type=env,target=IN_ADMIN_PASSWORD
Secret=invoice-ninja-app-key,type=env,target=APP_KEY
Volume=/home/invoice-ninja/.data/invoice-ninja/invoiceninja-public:/var/www/html/public:z
Volume=/home/invoice-ninja/.data/invoice-ninja/invoiceninja-storage:/var/www/html/storage:z
HealthCmd=/bin/bash -c 'pgrep php-fpm >/dev/null || exit 1'
HealthStartPeriod=60s
HealthInterval=120s
HealthTimeout=30s
HealthRetries=10
Notify=healthy
AutoUpdate=registry
Memory=3g
NoNewPrivileges=true

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
