#invoice-ninja-redis.container

[Container]
Image=docker.io/valkey/valkey:9@sha256:3b55fbaa0cd93cf0d9d961f405e4dfcc70efe325e2d84da207a0a8e6d8fde4f9
ContainerName=invoice-ninja-redis
Pod=invoice-ninja.pod
Volume=/home/invoice-ninja/.data/invoice-ninja/invoiceninja-valkey:/data:Z
EnvironmentFile=/srv/CherryTech-App-Configs/podman/8004_invoice-ninja/.env
HealthCmd=valkey-cli ping
HealthStartPeriod=30s
HealthInterval=120s
HealthTimeout=15s
HealthRetries=10
Notify=healthy
AutoUpdate=registry
Memory=2g
NoNewPrivileges=true

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
