#activepieces-redis.container

[Unit]
Description=ActivePieces Redis

[Container]
Image=docker.io/valkey/valkey:9.1-alpine
ContainerName=activepieces-redis
Pod=activepieces.pod
Volume=/home/activepieces/.data/activepieces/activepieces-valkey:/data:Z
EnvironmentFile=/srv/CherryTech-App-Configs/podman/7001_activepieces/.env
HealthCmd=/bin/sh -c 'valkey-cli ping | grep PONG'
HealthStartPeriod=30s
HealthInterval=120s
HealthTimeout=15s
HealthRetries=10
Notify=healthy
AutoUpdate=registry
Memory=1g
NoNewPrivileges=true

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
