#invoiceninja-redis.container

[Unit]
Description=InvoiceNinja Redis

[Container]
Image=docker.io/valkey/valkey:9.1-alpine
ContainerName=invoiceninja-redis
Pod=invoiceninja.pod
Volume=/home/invoiceninja/.data/invoiceninja/invoiceninja-valkey:/data:Z
EnvironmentFile=/srv/CherryTech-App-Configs/podman/8004_invoiceninja/.env
HealthCmd=/bin/sh -c 'valkey-cli ping | grep PONG'
HealthStartPeriod=30s
HealthInterval=120s
HealthTimeout=15s
HealthRetries=10
Notify=healthy
AutoUpdate=registry
Memory=2g
NoNewPrivileges=true

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
