#invoiceninja-nginx.container

[Unit]
Description=InvoiceNinja Nginx
Requires=invoiceninja-app.service invoiceninja-redis.service invoiceninja-db.service
After=invoiceninja-app.service invoiceninja-redis.service invoiceninja-db.service

[Container]
Image=docker.io/nginx:1.31-alpine
ContainerName=invoiceninja-nginx
Pod=invoiceninja.pod
EnvironmentFile=/srv/CherryTech-App-Configs/podman/8004_invoiceninja/.env
Volume=/home/invoiceninja/.data/invoiceninja/invoiceninja-public:/var/www/html/public:z,ro
Volume=/home/invoiceninja/.data/invoiceninja/invoiceninja-storage:/var/www/html/storage:z,ro
Volume=/home/invoiceninja/.data/invoiceninja/nginx:/etc/nginx/conf.d:ro,Z
HealthCmd=curl -fsS http://127.0.0.1/ >/dev/null || exit 1
HealthStartPeriod=5m
HealthInterval=120s
HealthTimeout=15s
HealthRetries=10
Notify=healthy
AutoUpdate=registry
Memory=2g

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
