#paperless .env

PAPERLESS_URL=https://paperless.apps.example.com

PAPERLESS_TRUSTED_PROXIES=127.0.0.1/32
TZ=America/Detroit

PAPERLESS_ADMIN_USER=system
PAPERLESS_ADMIN_MAIL=admin@admin.com

POSTGRES_DB=paperless
POSTGRES_USER=paperless
POSTGRES_INITDB_ARGS=--data-checksum

PAPERLESS_REDIS=redis://paperless-redis:6379

PAPERLESS_DBHOST=paperless-db
PAPERLESS_DBENGINE=postgresql
PAPERLESS_DBPORT=5432
PAPERLESS_DBNAME=paperless
PAPERLESS_DBUSER=paperless
