#EXAMPLE .env

DOMAIN=EXAMPLE.apps.example.com

EXAMPLE_TRUSTED_PROXIES=127.0.0.1/32
TZ=America/Detroit

POSTGRES_DB=EXAMPLE
POSTGRES_USER=EXAMPLE
POSTGRES_INITDB_ARGS=--data-checksum

MARIADB_DATABASE=EXAMPLE
MARIADB_USER=EXAMPLE

DB_USERNAME=EXAMPLE
DB_PORT=5432 (3306 for Mariadb)
DB_HOSTNAME=EXAMPLE-db
DB_DATABASE_NAME=EXAMPLE

REDIS_PORT=6379
REDIS_HOSTNAME=EXAMPLE-redis
