#NEXTCLOUD

DOMAIN=cloud.apps.example.net

TZ=America/Detroit
TRUSTED_PROXIES=127.0.0.1/32

NEXTCLOUD_DB_MEMORY_LIMIT=1g
NEXTCLOUD_DB_CPU_LIMI=1.0

NEXTCLOUD_VALKEY_MEMORY_LIMIT=512m
NEXTCLOUD_VALKEY_CPU_LIMIT=0.5

NEXTCLOUD_PHP_MEMORY_LIMIT=1024M
NEXTCLOUD_PHP_UPLOAD_LIMIT=16G

NEXTCLOUD_APP_MEMORY_LIMIT=2g
NEXTCLOUD_APP_CPU_LIMIT=2.0
