# vaultwarden.container

[Unit]
Description=Vaultwarden App
Requires=vaultwarden-db.service
After=vaultwarden-db.service

[Container]
Image=docker.io/vaultwarden/server:1.32.2-alpine@sha256:d16a304c2476fd787634ddde2c00be8fdfa1a72539438c626ece3686b5b88ab4
ContainerName=vaultwarden-app
Pod=vaultwarden.pod
Volume=/home/vaultwarden/.data/vaultwarden/vaultwarden-app:/data:Z
EnvironmentFile=/srv/CherryTech-App-Configs/podman/6001_vaultwarden/.env
HealthCmd=healthcheck.sh
HealthInterval=120s
HealthTimeout=45s
HealthRetries=10
HealthStartPeriod=40s
Memory=3g
NoNewPrivileges=true
AddCapability=CAP_NET_BIND_SERVICE
Secret=vaultwarden-db-password,type=env,target=POSTGRES_PASSWORD

[Service]
Restart=always

[Install]
WantedBy=default.target
